
:global(.comment-thread) {
    margin-left: 1em;
}

* {
    padding: 0em;
    margin: 0em;
}

:global(.header-title) {
    background-color: lightblue;
    padding: .1em;
}

:global(.header-title)>:global(.header-title-text) {
    text-align: center;
    font-family: monospace;
    font-weight: bolder;
    font-size: 50px;
    text-decoration: none;
}

:global(.header-left) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

:global(.media-react-image) {
    width: 3em;
    padding-left: 2em;
}

:global(.header) {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: lightblue;
    align-items: flex-start;
    border-bottom: 2px solid black;
    flex-wrap: wrap-reverse;
}

:global(.header) li {
    align-content: bottom;
    width: 8em;
    background-color: lightgrey;
    text-align: center;
    margin-left: .75em;
}

:global(.header) :global(.links) {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
}

:global(.header) li a {
    display: block;
    padding: .1em;
    text-decoration: none;
    font-family: sans-serif;
    border: 3px solid lightgrey;
    border-bottom: none;
    color: purple;
  }

:global(.header) li :global(.active) {
    background-color: yellow;
    color: blue;
    font-weight: bolder;
    border-color: black;
}

:global(.header)>:global(.user) {
    display: flex;
    height: 3.5em;
    border: 2px solid black;
}

:global(.header)>:global(.user)>:global(.user-info) {
    height: 3.5em;
}

:global(.user)>:global(.profile-image) {
    height: 3.5em;
    width: 3.5em;
}

:global(.post-user) {
    display: flex;
    //border: .25em solid black;
}

:global(.post-user)>:global(.post-user-avatar-url) {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
}

:global(.post) {
    
}

:global(.comments-link), :global(.edit-link) {
    text-decoration: none;
}

:global(.content) {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 1em;
}

:global(.post) {
    padding: .1em;
    border-bottom: 2px solid black;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, .5);
}

:global(.post-text) {
    padding: .1em .2em .9em 1em;
    background-color: azure;
}

:global(.post-user-name) {
    font-weight: 700;
    padding: .1em .1em .1em .3em;
}

:global(.comment) {
    display: flex;
}

:global(.comment-thread) {
    background-color: azure;
    border: 2px solid grey;
    border-radius: 1%;
    padding: 5px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, .5);
}

:global(.comment-user-image) {
    height: 2em;
    width: 2em;
    border-radius: 50%;
}

:global(.comment-user-name) {
    font-weight: bold;
    padding: 1px 4px 5px 6px;
}

:global(.comment-text) {
    padding: 2px 2px 2px 8px;
}

:global(.comment-name-and-time) {
    display: flex;
}

:global(.post-button) {
    font-weight: bold;
    padding: .4em;
}

:global(.post-form) {
    padding: 1em;
}

:global(.post-form) input,
:global(.post-form) textarea {
    width: 100%;
    box-sizing: border-box;
}

:global(.catalog) {

}

:global(.catalog_buttons) {
  text-align: left;
}

:global(.divider){
  width: 20px;
  height: auto;
  display: inline-block;
}

:global(.post-image) {
    max-width: 100%;
    max-height: 25em;
}