* {
    padding: 0em;
    margin: 0em;
}

body, html, :global(#Content) {
  height: 100%;
}

:global(.Header) {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: flex-start;
    border-bottom: 2px solid black;
    flex-wrap: wrap-reverse;
}

:global(.Header) li {
    align-content: bottom;
    width: 8em;
    background-color: lightgrey;
    text-align: center;
    margin-left: .75em;
}

:global(.Header) :global(.Links) {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
}

:global(.Header) li a {
    display: block;
    padding: .1em;
    text-decoration: none;
    font-family: sans-serif;
    border: 3px solid lightgrey;
    border-bottom: none;
    color: black;
  }

:global(.Header) li :global(.Active) {
    background-color: #060606;
    color: white;
    font-weight: bolder;
    border-color: black;
}
