* {
    padding: 0em;
    margin: 0em;
}

:global(.header) {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: lightblue;
    align-items: flex-start;
    border-bottom: 2px solid black;
    flex-wrap: wrap-reverse;
}

:global(.header) li {
    align-content: bottom;
    width: 8em;
    background-color: lightgrey;
    text-align: center;
    margin-left: .75em;
}

:global(.header) :global(.links) {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
}

:global(.header) li a {
    display: block;
    padding: .1em;
    text-decoration: none;
    font-family: sans-serif;
    border: 3px solid lightgrey;
    border-bottom: none;
    color: purple;
  }

:global(.header) li :global(.active) {
    background-color: yellow;
    color: blue;
    font-weight: bolder;
    border-color: black;
}

:global(.header)>:global(.user) {
    display: flex;
    height: 3.5em;
    border: 2px solid black;
}

:global(.header)>:global(.user)>:global(.user-info) {
    height: 3.5em;
}
